* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.changePasswordPage {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* allows growing if form is taller */
  padding: 20px; /* prevents edges touching */
  box-sizing: border-box;
}

.passwordForm {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
  /* background-color: red; */
  width: 100%;
  gap: 10px;
}
.passwordTitle {
  text-align: center;
  color: #4285f4;
  font-family: "Poppins" sans-serif;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: -1%;
}
.passwordType {
  color: #000000b2;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0%;
  vertical-align: bottom;
  text-align: center;
}
.forms {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}
.formss {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  gap: 8px;
  padding: 1rem 1.2rem;
  width: 100%;
  width: 500px; /* ⬅️ wider container */
  /* min-height: 100vh; */
  /* height:100vh; */
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.25);
  color: #fff;
  /* margin: 7rem 4rem; */
  /* margin-top: 5rem;
  margin-bottom: 5rem; */
}
.passwordForm label {
  font-family: "Inter", sans-serif;
  /* display: block; */
  font-size: 16px;
  /* font-weight: 600; */
  color: black;
}
.passwordInputs {
  width: 100%;
  padding: 12px 15px;
  border-radius: 8px;
  border: 1px solid #1c66ad;
  outline: none;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.2);
  color: black;
}

.passwordInputs ::placeholder {
  color: black;
}
.resetPassBtn {
  margin-top: 20px;
}

.resetBtnLink:disabled {
  cursor: not-allowed;
}

.inputCon {
  width: 100%;
  padding: 5px 5px;
  backdrop-filter: blur(10px);
  background-color: rgba(240, 240, 240, 0.733);
  display: flex;
  align-items: center;
  /* margin: 10px; */
  /* flex-direction: row; */
  /* justify-content: space-between; */
  gap: 10px;
}
